<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <h1>{{title}}</h1>

    <form method="post" action="/students/add">
        <input name="username" />
        ...
        <button type="submit">Send</button>
    </form>


    <ul>
        {{#each students}}
        <li>{{this}}</li>
        {{/each}}

    </ul>

</body>

</html>