<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="row">

        <p>Vous avez rajouter {{resultat}} à votre liste </p>

        <a href="/">Go Back</a>


    </div>


</body>

</html>